*{
    background-color: bisque;
}

h1{
    color: darkblue;
    text-align: center;
}

.recipes{
    display: flex;
    justify-content: center;
}

.single-recipe{
    display: flex;
    flex-direction: column;
    flex: 1;
}
