*{
    background-color: bisque;
    /* border: 2px solid red; */
    margin: 0 auto;
}

h1{
    color: darkblue;
    text-align: center;
}

.recipes{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}

.single-recipe{
    /* display: inline-block; */
    flex-direction: column;
    /* flex: 1; */
    /* margin: 0 auto; */
    /* align-items: stretch; */
}

.single-recipe h3{
    margin-top: 20px;
}

img{
    width: 200px;
    height: 300px;
    margin: 0 auto;
}