*{
    background-color: bisque;
    /* border: 2px solid red; */
    /* margin: 0 auto; */
}

h1{
    color: darkblue;
    text-align: center;
}

.recipes{
    display: flex;
    margin: 0 90px;
    justify-content: space-between;
    /* align-items: stretch; */
}

.single-recipe{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: space-between ;
}

.single-recipe h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    /* width: 200px;
    height: 300px;*/
    flex: 1;
    align-items: stretch;
    /* margin: 0 auto; */
}